# Pandas

- Series 
- Data Frame

## Series
> 一维数组
- 创建

```py
    pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```

In [49]:
import pandas as pd

series1 = pd.Series(['apple', 'banana', "penapple", None, "apple", None], index=[1,6,3,11,5,4], name="frutes" )
series2 = pd.Series([4,5,6,7,83,2,23,5,7,3234,23])
mapping = {'apple': 'apple juse', 'banana': 'banana ice', 'penapple': "pen apple"}
print(series1)

1        apple
6       banana
3     penapple
11        None
5        apple
4         None
Name: frutes, dtype: object

### Series 常用方法

In [57]:
series1.index           # 获取索引
series1.values          # 
series1.head(7)         # 前7行 默认 5
series1.tail(7)         # 后7行 默认 5
series1.dtype           # 数据类型
series1.shape           # 行数
series1.describe()      # 统计描述 （均值，差值，最小值）
series1.isnull()        # 返回新的 布尔 series
series1.notnull()       # 
series1.unique()        # 返回 唯一值的 数组
series1.value_counts()  # 唯一值 出现的次数

# 遍历处理
series1.apply(lambda x: x == "apple")   # 除了lambda支持更多的参数
series1.map(mapping)                    # 除了 lambda 可以传 mapping

# Sort
series1.sort_index()                    # 按照index 升序排列
series1.sort_values()

# 缺值处理
series1.dropna()                        # 删除缺失值
series1.fillna("oringe")                # 缺值填充
series1.replace("apple", "Iphone")      # 替换

# 累积
series2.cumsum()                        # 累加和
series2.cummax()                        # 累计最大
series2.cummin()                        # 累计最小
series2.cumprod()                       # 累乘

# 值
series2.min()                           # 最小
series2.max()                           # 最大
series2.sum()                           # 总和

# TODO
# shift
# corr
# cov
# to_list
# to_frame
# series1.loc[1]
# series1.iloc[1]

# del series1[6]                        # 根据索引删除
# print(series1)

# 运算

result = series2 * 2 - 20               # 对每个 value 进行运算
result = result[result > 0]             # 过滤

result

4      146
6       26
9     6448
10      26
dtype: int64

## DataFrame
> 二维表格 

- 创建
```py
pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
# data :转化为DF 的 字典| 二维数组 |
# index: 行索引
# columns: 列索引
```

In [74]:
# 字面量 二维数组生成
data=[["apple", 10, None, 'china'], ["oringe", 11, 3, 'usa'], ['banana', 16, 5, 'japen']]
df1 = pd.DataFrame(data, columns=['name', 'weight', 'price', 'country'], index=[5,4,9]) # 也可以自定义  index
df1.head()

     name  weight  price country
5   apple      10    NaN   china
4  oringe      11    3.0     usa
9  banana      16    5.0   japen

### DataFrame 常用方法

In [ ]:
df1.head()
df1.tail(1)
df1.info()          # 简要信息
df1.describe()      # 统计信息
df1.shape           # (行, 列)
df1.columns         # 所有column 的list
df1.index           
df1.dtypes          # coumn 的 数据类型
df1.sort_index()    
df1.sort_values(by="weight", ascending=False)
df1.dropna()        # 删除有缺失的行或列

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 5 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   weight   3 non-null      int64
 2   price    2 non-null      float64
 3   country  3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

     name  weight  price country
4  oringe      11    3.0     usa
9  banana      16    5.0   japen